---
import Python from "../icons/LogoPython.astro";
import JavaScript from "../icons/JavaScript.astro";
import Tailwind from "../icons/Tailwind.astro";
import GitHub from "../icons/GitHub.astro";
import Socket from "../icons/Socket.astro";
import LinkButton from "./LinkButton.astro";
import Link from "./Link.astro";
const TAGS = {
  PYTHON: {
    name: "Python",
    class: "bg-white/80 text-black",
    icon: Python,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-black/80 text-white",
    icon: JavaScript,
  },
  SOCKET: {
    name: "Socket.io",
    class: "bg-white text-black",
    icon: Socket,
  },
};

const PROJECTS = [
  {
    title: "Juego de damas",
    description:
      "Juego realizado con Python aplicando algoritmos de inteligencia artificial",
    link: "#",
    github: "https://github.com/ItsAiz/DamasProjectBack",
    image: "/proyectos/Damas.png",
    tags: [TAGS.PYTHON, TAGS.JAVASCRIPT, TAGS.SOCKET],
  },
  {
    title: "Emprendimientos UPTC",
    description:
      "Aplicaci贸n web para la gesti贸n de emprendimientos de la Universidad Pedag贸gica y Tecnol贸gica de Colombia.",
    link: "#",
    github: "https://github.com/ItsAiz/DamasProjectBack",
    image: "/proyectos/Emprendimientos.png",
    tags: [TAGS.JAVASCRIPT, TAGS.TAILWIND],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Imagen proyecto"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-[#47D16E] dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <div class="mt-2 text-white-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>{" "}
          </div>
        </div>
      </article>
    ))
  }
</div>
